Source: python-swiftclient
Section: python
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools (>= 23~),
               python-all (>= 2.6.6-3~),
               python-pbr,
               python-sphinx,
Build-Depends-Indep: python-concurrent.futures,
                     python-coverage,
                     python-hacking,
                     python-keystoneclient,
                     python-mock,
                     python-oslosphinx,
                     python-requests,
                     python-simplejson,
                     python-six,
                     python-testtools,
                     subunit,
                     testrepository,
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/openstack/python-swiftclient.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-swiftclient.git
Homepage: https://github.com/openstack/python-swiftclient

Package: python-swiftclient
Architecture: all
Depends: python-concurrent.futures,
         python-keystoneclient,
         python-pbr,
         python-requests,
         python-simplejson,
         ${misc:Depends},
         ${python:Depends},
Description: Client library for Openstack Swift API
 OpenStack Object Storage (code-named Swift) creates redundant, scalable object
 storage using clusters of standardized servers to store petabytes of
 accessible data. It is not a file system or real-time data storage system, but
 rather a long-term storage system for a more permanent type of static data
 that can be retrieved, leveraged, and then updated if necessary. Primary
 examples of data that best fit this type of storage model are virtual machine
 images, photo storage, email storage and backup archiving. Having no central
 "brain" or master point of control provides greater scalability, redundancy
 and permanence.
 .
 Objects are written to multiple hardware devices in the data center, with
 the OpenStack software responsible for ensuring data replication and
 integrity across the cluster. Storage clusters can scale horizontally by
 adding new nodes. Should a node fail, OpenStack works to replicate its
 content from other active nodes. Because OpenStack uses software logic to
 ensure data replication and distribution across different devices,
 inexpensive commodity hard drives and servers can be used in lieu of more
 expensive equipment.
 .
 This package provides a client for the OpenStack Swift API. There's a Python
 API  (the "swiftclient" module), and a command-line script ("swift").
